@{
    ViewBag.Title = "Contact";
}
<h2>Contatos.</h2>

<address>
    <strong>Suporte:</strong>   <a href="mailto:Support@example.com">antoniocarvalho@unitins.br</a><br />
    <strong>Pessoal:</strong> <a href="mailto:Marketing@example.com">antoniodecarvalhochaaban@gmail.com</a>
</address>